@font-face {
    font-family: 'DPComic';
    src: url('/assets/fonts/DPComicRegular.woff2') format('woff2'),
         url('/assets/fonts/DPComicRegular.woff') format('woff'),
         url('/assets/fonts/DPComicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




body {
    font-family: 'DPComic';
    color : crimson;
    background-color: rgba(0, 0, 0, 0.973);
    font-size: 24px;
    width: 25%;
    height: 25%;
    left: 25%;
    position: relative;
    z-index: 10;
}
#playerStats {
    background-color: rgba(0, 0, 0, 0.90)
}
#overlay {  
    background-color: rgba(169, 169, 169, 0.685);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    opacity: 90%;
    animation-duration: 2.25s;
    animation-name: slidein;
}
#overlay-body{
    font-family: 'DPComic';
    font-size: 36px;
    position: relative;
    top:30%;
    left:30%;
    background-color:rgba(255, 255, 255, 0.781);
    z-index:1002;
    overflow: auto;
    width: 40%;
    height: 40%;

    text-align:center;
}
.fadein {
    font-size: 30px;
    animation-duration: 3.5s;
    animation-name: fadein;
}
#nameInput {
    animation-name: fadein;
    animation-duration: 4s;
}
#nameInputButton {
    animation-name: fadein;
    animation-duration: 4.5s;
}

@keyframes slidein {
    from {
        width: 0%;
    }

    to {
        width:100%;
    }
}
@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
    
}
a {
    text-decoration: none;
    color: orange;
}
a:hover {
    font-size: 30px;
    color: cyan;
}